{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - To Do{% endblock%}

{% block content %}
<div class="container">
    <div class="col-md-4 offset-md-4 mb-10 shadow p-3 mb-5 bg-white rounded">
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <img class="mb-4" src="#" alt="" width="72" height="72">Imagem
            <h1 class="h4 mb-3 font-weight-normal text-center">Faça login</h1>
            <input type="hidden" name="next" >

            {{form|crispy}}

            <!--<label for="inputName" class="sr-only">Nome do usuário</label>
            <input type="text" id="inputName" class="form-control mb-2" placeholder="Seu Nome" required autofocus>

            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me" class="mt-2"> Lembrar de mim
                </label>
            </div>
            -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

            <p class="change-form-p">Quer criar uma conta? <a href="/accounts/register">Clique aqui.</a></p>

        </form>
    </div>
</div>
{% endblock %}


